@media(max-width:1074px){
    .action_order {
        max-width: 100%;
    }
    .fixed_box_delivery{
        padding: 7px;
        top: 1rem;
        left: -7rem;
    }
    .fixed_box_delivery div span {
        font-size: 16px;
    }
    .content_left_header_buttom h1 {
        font-size: 40px;
        line-height: 65px;
    }
    .button_action_order button {
        width: 20px;
    }
    .action_order > button{
        padding: 0px 20px;
    }
    .section_search_location img{
        max-width: 105px;
    }
}

@media(max-width:835px){
    .Nav {
        grid-template-columns: repeat(3 , auto);
    }
    .Nav > ul {
        display: none;
    }
    .Nav_link {
        justify-self: center;
    }
    .menu-icon {
        justify-self: flex-end;
    }
    .button_action_order {
        max-width: 50%;
        gap: 4px;
    }
    .action_order{
        gap: 2px;

    }
    .action_order > button{
        padding: 0px 5px;
    }
    .item_food_off:hover{
        background-color: var(--color_C90000);
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
}
.content_search_location form{
    width: 93%;
}
.section_search_location img {
    max-width: 74px;
}

}
@media (max-width:999px){
    .content_search_location h6 {
        font-size: 32px;
    }
   .img_section_mobile_app{
    grid-row: 2;
    grid-column: 1 span;
    margin-top: 4rem;
}
   .img_section_mobile_app img{
   
       top: -17px;
}
   .content_section_mobile_app{
    grid-column: 2 span;

   }
   .content_section_mobile_app h4{
    font-size: 36px;
   }
   .content_section_mobile_app p{
    font-size: 15px;
   }
}
@media(min-width:835px){
    .menu-icon {
        display: none;
    }
}

@media(max-width:686px){
    .header_buttom{
    grid-template-columns: repeat(1 , 1fr);
    }
    .content_left_header_buttom{
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
    .content_left_header_buttom p {
        max-width: 100%;
        margin-top: 20px;
    }
    .order_food_desktop {
        display: none;
    }
    .order_food_mobile {
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .action_order {
        justify-content: space-around;
        width: 80%;
    }
    .action_order > button {
        font-size: 17px;
    }
    .fixed_box_delivery {
        position: static;
        width:25%;
        border-radius: 50px 0px 50px 50px;
        -webkit-border-radius: 50px 0px 50px 50px;
        -moz-border-radius: 50px 0px 50px 50px;
        -ms-border-radius: 50px 0px 50px 50px;
        -o-border-radius: 50px 0px 50px 50px;
    }
    .section_mobile_app{
        max-width: 100%;
        border-radius: 500px 500px 0 0;
        -webkit-border-radius: 500px 500px 0 0;
        -moz-border-radius: 500px 500px 0 0;
        -ms-border-radius: 500px 500px 0 0;
        -o-border-radius: 500px 500px 0 0;
    }
    .content_section_mobile_app{
        margin-top: 6rem;
        text-align: center;
    }
    .content_section_mobile_app p {
        max-width: 100%;
    }
    .img_section_mobile_app{
        grid-column: 2 span;
        justify-self: center;
    }
    .img_section_mobile_app img{
        max-width: 200px;
    }
    .img_section_mobile_app img{
        top: -13px;
 }
}
@media(min-width:685px){
    .order_food_mobile {
        display: none;
    }
}
@media (max-width:550px){
    .content_search_location form{
        height: 49px;
    }
    .content_search_location form input{
       font-size: 13px;
    }
    .content_search_location form button{
      top: 11%;
    }
    .content_search_location{
        text-align: center;
    }
    .section_search_location img:nth-child(4){
        top: 7%;
    }
}