@media(max-width:1074px){
    .action_order {
        max-width: 100%;
    }
    .fixed_box_delivery{
        padding: 7px;
        top: 1rem;
        left: -7rem;
    }
    .fixed_box_delivery div span {
        font-size: 16px;
    }
    .content_left_header_buttom h1 {
        font-size: 40px;
        line-height: 65px;
    }
    .button_action_order button {
        width: 20px;
    }
    .action_order > button{
        padding: 0px 20px;
    }
}

@media(max-width:835px){
    .Nav {
        grid-template-columns: repeat(3 , auto);
    }
    .Nav > ul {
        display: none;
    }
    .Nav_link {
        justify-self: center;
    }
    .menu-icon {
        justify-self: flex-end;
    }
    .button_action_order {
        max-width: 50%;
        gap: 4px;
    }
    .action_order{
        gap: 2px;

    }
    .action_order > button{
        padding: 0px 5px;
    }

}
@media(min-width:835px){
    .menu-icon {
        display: none;
    }
}

@media(max-width:686px){
    .header_buttom{
    grid-template-columns: repeat(1 , 1fr);
    }
    .content_left_header_buttom{
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
    .content_left_header_buttom p {
        max-width: 100%;
        margin-top: 20px;
    }
    .order_food_desktop {
        display: none;
    }
    .order_food_mobile {
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .action_order {
        justify-content: space-around;
        width: 80%;
    }
    .action_order > button {
        font-size: 17px;
    }
    .fixed_box_delivery {
        position: static;
        width:25%;
        border-radius: 50px 0px 50px 50px;
        -webkit-border-radius: 50px 0px 50px 50px;
        -moz-border-radius: 50px 0px 50px 50px;
        -ms-border-radius: 50px 0px 50px 50px;
        -o-border-radius: 50px 0px 50px 50px;
    }
}
@media(min-width:685px){
    .order_food_mobile {
        display: none;
    }
}