* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: poppins;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins/poppins-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins/poppins-regular-webfont.wof') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}
:root{
    --color_fff:#fff;
    --color_C90000:#C90000;
    --color_7D7C7C:#7D7C7C;
    --color_504F4F:#504F4F;
    --color_323232:#323232;
    --color_FFC300:#FFC300;
    --color_FFF6A3:#FFF6A3;
    --color_E3E3E3:#E3E3E3;
    --color_F1F1F1:#F1F1F1;
    --color_rgb_241:rgba(241, 241, 241, 0.70);
    --color_rgb_241-040:rgba(241, 241, 241, 0.40);
    --color_rgb_122_144_176:rgba(112, 144, 176, 0.20);
}
.main_header {
    margin-top: 20px;
}

.container_site {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0 0.5rem;
}
.Nav {
    display: grid;
    grid-template-columns: 58px 680px 187px;
    justify-content: space-between;
    align-items: center;
}
.Nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}
.Nav ul li:first-child a {
    font-weight: 600;
    color: var(--color_C90000);
}
.Nav ul li:not(:first-child) a {
    color: var(--color_7D7C7C);
    font-weight: 500;
}
.Nav_link a {
    padding: 9px 17px;
    border: 1px solid var(--color_C90000);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.Nav_link a:first-child {
    color: var(--color_C90000);
    font-weight: 400;
}
.Nav_link a:last-child {
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

.nav_menu_sidbar{
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 20px;
    height: 100%;
    background-color: var(--color_fff);
    width: 200px;
    border-right: 2px solid var(--color_7D7C7C);
    transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
}
#input_menu:checked + label + ul {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}
.menu-icon .fa-xmark {
    width: 35px;
    height: 35px;
    color: var(--color_504F4F);
    display: none;
}
#input_menu:checked + label svg {
    display: none;
}
#input_menu:checked + label .fa-xmark {
    display: block;
}

@media(max-width:834px){
    .Nav {
        grid-template-columns: repeat(3 , auto);
    }
    .Nav > ul {
        display: none;
    }
    .Nav_link {
        justify-self: center;
    }
    .menu-icon {
        justify-self: flex-end;
    }

}
@media(min-width:835px){
    .menu-icon {
        display: none;
    }
}

