* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: poppins;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button {
    border: none;
    outline: none;
}
input {
    outline: none;
}
img {
    width: 100%;
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins/poppins-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins/poppins-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}
:root{
    --color_fff:#fff;
    --color_C90000:#C90000;
    --color_7D7C7C:#7D7C7C;
    --color_504F4F:#504F4F;
    --color_323232:#323232;
    --color_FFC300:#FFC300;
    --color_FFF6A3:#FFF6A3;
    --color_FFFDE6:#FFFDE6;
    --color_E3E3E3:#E3E3E3;
    --color_F1F1F1:#F1F1F1;
    --color_rgb_241:rgba(241, 241, 241, 0.70);
    --color_rgb_241-040:rgba(241, 241, 241, 0.40);
    --color_rgb_122_144_176:rgba(112, 144, 176, 0.20);
}
.main_header {
    margin-top: 20px;
}

.container_site {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0 0.5rem;
}
.Nav {
    display: grid;
    grid-template-columns: 58px 680px 187px;
    justify-content: space-between;
    align-items: center;
}
.Nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}
.Nav ul li:first-child a {
    font-weight: 600;
    color: var(--color_C90000);
}
.Nav ul li:not(:first-child) a {
    color: var(--color_7D7C7C);
    font-weight: 500;
}
.Nav_link a {
    padding: 9px 17px;
    border: 1px solid var(--color_C90000);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.Nav_link a:first-child {
    color: var(--color_C90000);
    font-weight: 400;
}
.Nav_link a:last-child {
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

.nav_menu_sidbar{
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 20px;
    height: 100%;
    background-color: var(--color_fff);
    width: 200px;
    z-index: 100;
    border-right: 2px solid var(--color_7D7C7C);
    transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
}
#input_menu:checked + label + ul {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}
.menu-icon .fa-xmark {
    width: 35px;
    height: 35px;
    color: var(--color_504F4F);
    display: none;
}
#input_menu:checked + label svg {
    display: none;
}
#input_menu:checked + label .fa-xmark {
    display: block;
}

.header_buttom {
    display: grid; 
    grid-template-columns: repeat(2 , 1fr);
}
.content_left_header_buttom {
    align-self: center;
    width: 86%;
}
.content_left_header_buttom h1 {
    color: var(--color_C90000);
    font-size: 48px;
    line-height: 75px;
    font-weight: 600;
}
.content_left_header_buttom p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color_504F4F);
    max-width: 73%;
}
.order_food {
    margin-top: 3rem;
}
.text_price_order_food {
    color: var(--color_323232);
    margin-bottom: 1rem;
}
.text_price_order_food span:first-child {
    font-size: 16px;
    font-weight:300;
    
}
.text_price_order_food span:last-child {
    font-size: 24px;
    font-weight: 500;

}
.action_order{
    display: flex;
    justify-content: space-between;
    max-width: 79%;

}
.button_action_order{
    max-width: 41%;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color_rgb_241);
    background-color: var(--color_fff);
    border-radius: 100px;
    padding: 8px 16px;
    box-shadow: 0 10px 17px 0 var(--color_rgb_122_144_176);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.button_action_order button{
   background-color: transparent;
   border: none;
}
.button_action_order span{
   color: var(--color_FFC300);
   font-size: 25px;
   font-weight: 500;
}
.button_action_order span::after,.button_action_order span::before{
    content: '';
    display: inline-block;
    width: 1.5px;
    height: 22px;
    background-color: var(--color_rgb_241);
     
}
.button_action_order span::after{
    margin-left: 12px;   
}
.button_action_order span::before{
    margin-right: 12px;   
}
.action_order > button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_FFC300);
    box-shadow: 0 20px 20px 0 var(--color_rgb_241);
    border: none;
    border-radius: 100px;
    padding: 16px 24px;
    color: var(--color_323232);
    font-size: 20px;
    font-weight: 600;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.action_order > button svg{
    margin-right: 5px;
    margin-top: -3px;

}
.content_right_header_buttom {
    position: relative;
}
.fixed_box_delivery {
    border-radius: 50px 50px 0px 50px;
    border: 1px solid var(--color_F1F1F1);
    background-color: var(--color_rgb_241);
    padding: 12px;
    position: absolute;
    top: 4rem;
    left: -6rem;
    text-align: center;
    -webkit-border-radius: 50px 50px 0px 50px;
    -moz-border-radius: 50px 50px 0px 50px;
    -ms-border-radius: 50px 50px 0px 50px;
    -o-border-radius: 50px 50px 0px 50px;
}
.fixed_box_delivery div {
    display: flex;
    align-items: center;
}
.fixed_box_delivery > span {
    display: block;
    margin-top: 5px;
}
.fixed_box_delivery div span {
    color: var(--color_323232);
    font-size: 24px;
    font-weight: 500;
    margin-left: 5px;
}
.row_title_section_food{
    font-size: 48px;
    font-weight: 600;
    text-transform:  uppercase;
    color: var(--color_C90000);
    position: relative;
}
.line_buttom_row_title{
    width: 100%;
    height: 9px;
    background-color: var(--color_FFF6A3);
    position: absolute;
    top: 35px;
    z-index: -1;
}
.row_button_category {
    display: grid;
    grid-auto-columns: 174px;
    grid-auto-flow: column;
    overflow-x: auto;
    column-gap: 20px;
    margin-top: 20px;
}
.row_button_category button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    border-radius: 100px;
    color: var(--color_504F4F);
    column-gap: 8px;
    font-size: 15px;
    font-weight: 400;
    padding: 14px 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.button_active_category {
    background-color: var(--color_FFC300)!important;
    color: var(--color_323232)  !important;
    font-weight: 600 !important;
}
.row_grid_food_products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    justify-content: center;
    gap: 30px;
    margin-top: 32px;
}
.item_food_grid {
    border: 1px solid var(--color_E3E3E3);
    padding: 16px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px ;
}
.badge_discount {
    width: 48px;
    position: absolute;
}
.img_item_food_grid{
    position: relative;
    text-align: center;
}
.img_item_food_grid img {
    max-width: 227px;
    max-height: 170px;
}
.img_item_food_grid div {
    height: 105px;
    width: 100%;
    background-color: var(--color_FFFDE6);
    position: absolute;
    bottom: -2px;
    z-index: -1;

}
.info_item_food_grid {
    margin-top: 18px;
}
.info_item_food_grid h5 {
    font-size: 20px;
    color: var(--color_323232);     
    font-weight: 600;
}
.info_item_food_grid p {
    margin-top: 10px;
    font-size: 14px;
    color: var(--color_504F4F);
    font-weight: 400;
}
.score_item_food_grid {
    margin: 12px 0 20px 0;

}
.score_item_food_grid span {
    color: var(--color_7D7C7C);
    font-size: 14px;
    font-weight: 500;
}
.buttom_item_food_grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttom_item_food_grid span{
    font-size: 24px;
    font-weight: 600;
}
.buttom_item_food_grid button {
    background-color: var(--color_C90000);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.see_all_food{
    margin-top: 1.5rem;
    text-align: center;
}
.see_all_food a{
    color: var(--color_504F4F);
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}

.section_off{
    margin-top: 5rem;
    overflow: hidden;
}
.row_info_food_off {
    display: flex;
}

.section_off .row_title_section_food{
    display: flex;
    justify-content: center;
}
.row_title_section_food h4{
    position: relative;
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    width: max-content;
}
.grid_foods_off{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 30px;
    margin-top: 1.8rem
}
.item_food_off{
    /* width: 335px; */
    background-color: var(--color_E3E3E3);
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--color_E3E3E3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 1.5rem 0 1.5rem 1.5rem;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
.item_food_off:hover{
    background-color: var(--color_C90000);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.item_food_off:hover .left_item_food_off h6{
    color: var(--color_FFC300);
}
.item_food_off:hover .left_item_food_off p,.item_food_off:hover .title_sm_item_food_off span:first-child,.item_food_off:hover .price_off del{
    color: var(--color_fff);
}

.item_food_off:hover .price_off span{
    color: var(--color_FFC300);
}
.item_food_off:hover .left_item_food_off button {
    color: var(--color_323232);
    background-color: var(--color_fff);
}
.item_food_off:hover .left_item_food_off button svg path{
    fill: var(--color_323232);
}
.title_sm_item_food_off span:last-child {
    display: inline-block;
    width: 74%;
    background-color: var(--color_7D7C7C);
    height: 1px;
}
.price_off {
    margin-top: 1rem;
}

.title_sm_item_food_off span:first-child {
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 400;
}
.left_item_food_off {
    width: 95%;
}
.left_item_food_off p{
    font-size: 16px;
    font-weight: 400;
    color: var(--color_504F4F);
    line-height: 24px;
    transition: all 350ms ease-in;
    height: 44px;
}
.left_item_food_off .price_off del {
    font-size: 16px;
    font-weight: 600;
    color: var(--color_7D7C7C);
}
.left_item_food_off .price_off span {
    font-size: 27px;
    font-weight: 600;
    color: var(--color_C90000);
    display: inline-block;
    margin-top: 0.5rem;
}
.left_item_food_off h6{
    font-size: 24px;
    font-weight: 600;
    margin: 0.9rem 0;
    color: var(--color_C90000);
    transition: all 350ms ease-in;
    white-space: nowrap;
}

.right_item_food_off img {
    position: relative;
    top: 15%;
    right: 20%;
    max-width: 273px;
    max-height: 204px;
    width: 275px; 
}
.seconde_item_food_off .right_item_food_off img {
    right: 45%;
}
.left_item_food_off button {
    margin-top: 4.5rem;
    background-color: var(--color_504F4F);
    color: #F1F1F1  ;
    font-size: 16px;
    font-weight: 500 ;
    text-align: center;
    border-radius: 20px;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    transition: all 350ms ease-in;
    column-gap: .5rem;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.section_mobile_app{
    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: flex-end;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    border-radius: 0 500px 500px 0;
    max-width: 90%;
    margin-top: 10rem;
    -webkit-border-radius: 0 500px 500px 0;
    -moz-border-radius: 0 500px 500px 0;
    -ms-border-radius: 0 500px 500px 0;
    -o-border-radius: 0 500px 500px 0;
}
.img_section_mobile_app img{
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    position: relative;
    max-width: 400px;
    top: -25px;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.content_section_mobile_app{
    padding: 2rem;
    justify-self: center;
    align-self: center;
}
.content_section_mobile_app h6{
    color: var(--color_7D7C7C);
    font-size: 20px;
    font-weight: 500;
}
.content_section_mobile_app h4{
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 500;
    margin: 1rem 0;
}
.content_section_mobile_app p{
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 77%;
}
.download_btn_app a{
    margin-top: 32px;
    width: 14%;
    display: inline-block;
}
.download_btn_app a:last-child{
   margin-left: 20px;
}.content_search_location{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color_323232);
    border-radius: 20px;
    margin-top: 5rem;
    height: 398px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.content_search_location h6{
    color: var(--color_FFFDE6);
    font-size: 48px;
    font-weight: 500;
}
.content_search_location p{
    color: var(--color_F1F1F1);
    font-size: 16px;
    font-weight: 400;
    margin: 0.5rem 0 4rem 0;
}
.content_search_location form{
    position: relative;
    width: 45%;
    background-color: var(--color_FFC300);
    border-radius: 100px;
    padding: 0 10px;
    height: 56px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.content_search_location form input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 400;
}
.content_search_location form input::placeholder{
    color: var(--color_504F4F);
    font-family: poppins;
}
.content_search_location form button{
    background-color: var(--color_fff);
    border-radius: 100px;
    padding: 12px 24px;
    border: 0;
    position: absolute;
    right: 13px;
    top: 15%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.section_search_location img{
    max-width: 187px;
    object-fit: cover;
    position: absolute;
}
.section_search_location img:last-child{
    bottom: 0;
    left: 10%;
}
.section_search_location img:nth-child(4){
    top: 18%;
    left: 0;

}




